.container-cards {
    display: flex;
    text-align: center;
    justify-content: center;
}
.container-jumbutron {
    text-align: left;
}
.container-footer{
    color: white;
    background-color: black;
    padding: 30px ;
}